<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OnlyJams</title>
  </head>
  <body>
    <nav>
    </nav>
    <div class='whole-page'>
      <h1 id='main-header'>onlyJams Index Page</h1>
      <a href='/onlyjams/new'>Add a new artist!</a>
    </div>
  </body>
</html>
