<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <% if (currentUser) { %>
      <li>Welcome <%= currentUser.username %></li>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" class="btn-small red" />
        </form>
      </li>
      <% } else { %>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/sessions/new">Log In</a></li>
      <% } %>
    </nav>
    <h1><%=artist.name%></h1>
    <h3><%=artist.location%></h3>
  </body>
</html>
