/* FULL SCREEN */

/* .navbar-link {
  width: 5vw;
  height:2.5vh;
} */

body {
  background-color: #140330;
  text-decoration: none;
  color: #e0cffc;
}
h4 {
  text-align: center;
  text-decoration: none;
  color:#e0cffc;
  padding: 2px;
  /* border: 2px solid gray; */
}
.artist-link {
  text-decoration: none;
}
.whole-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.artist-img {
  object-fit: cover;
  height: 30vmax;
  width: 30vmax;
  max-height: 200px;
  max-width: 200px;
  border: 2px solid #140330;
  border-radius: 15px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3vw;
  z-index: 1;
  display: flex;
  background-color: black;
}

.button {
  background-color: #3d0a91;
  color: #e0cffc;
  box-shadow: 0px 0px 8px 1px #290661;
  border: 1px solid #290661;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 5px 2px;
  width: 97px;
}


.navbar-button-1 {
  position: absolute;
  top: 0px;
  left: 0;
  height: 3vh;
  width: 5vw;
  border-radius: 1em;
  align-items: center;
  text-decoration: none;
}


.button:hover {
  background-color: #843ff3;
  box-shadow: 1px 5px 3px 1px black;

}

.button:active {
  background-color: #290661;
}

.button-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  /* align-items: stretch; */
  align-content: flex-start;
  max-height: 200px;
  max-width: 200px;
}

#main-header {
  text-align: center;
}

.login-button {
  position: absolute;
  right: 0;
}

#new-artist {
  text-align: center;
}
