<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>
    <nav>
      <% if (currentUser) { %>
      <li>Welcome <%= currentUser.username %></li>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" class="btn-small red" />
        </form>
      </li>
      <% } else { %>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/sessions/new">Log In</a></li>
      <% } %>
    </nav>
    <div class="container">
      <h1>Log In</h1>
      <form action="/sessions" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
      <form>
    </div>
  </body>
</html>
